vlan {{ vlan_id }}
 name {{ vlan_name }}
 exit
{% for interface in access_interfaces %}
interface {{ interface }}
 switchport mode access
 switchport access vlan {{ vlan_id }}
 no shutdown
 exit
{% endfor %}
interface Vlan{{ vlan_id }}
 ip address {{ svi_address }}
 no shutdown
 exit
ip default-gateway {{ default_gateway }}
